<section class="cover">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Who we are</h2>
                <p>This project is an open source project built by the Vienna Data Science Cafe Meet-Up members. </p>
                <p>The goal, except for the obvious result, is to also use this project as a learning hub and as a research
                    playground to build and test different Natural Language Processing models.</p>
                <p>The Project status is still under development. You are very welcome to join the team in an upcoming edition
                    of the
                    <a href="https://www.meetup.com/Vienna-Data-Science-Group-Meetup/">Vienna Data Science Cafe</a> or participate in the development on
                    <a href="https://github.com/Keep-Current">GitHub</a>.</p>
                <p>The first 50 enrollers will become our alpha testers, so go ahead and register.</p>
                <p>You will be notified when things are ready. </p>
            </div>
        </div>
    </div>
</section>