<div class="container">
  <div class="media-container-row">
    <div class="title col-12 col-md-8">
      <h2 class="align-center pb-3 mbr-fonts-style display-2">
        Recent Results</h2>
      <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
        <b>Reasoning & Rationalizing Models</b>
      </h3>
      <hr/>
      <br/>

      <router-outlet></router-outlet>


      <div class="mbr-section-btn align-center py-4">
        <a class="btn btn-md btn-primary display-4" href="#content5-j">Done Reading</a>
      </div>
    </div>
  </div>
</div>
