<div class="container align-center">
  <div class="media-container-row">
    <div class="title col-12 col-md-8">

      <form class="form-signin">
        <img class="mb-4" src="assets/logo/KeepCurrent-LogoSmall.png" alt="" width="72" height="72">

        <div>
          <button class="btn btn-primary signin-google" (click)="loginWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google </button>
          <button class="btn btn-primary signin-github" (click)="loginWithGithub()">
            <i class="fa fa-github" aria-hidden="true"></i> Sign in with Github</button>
        </div>

        <h3 class="h3 mb-3 font-weight-normal sign-in-title">Please sign in</h3>
        <div>
          <input type="email" class="form-control" placeholder="your@email.com" #email required autofocus>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" #password required>
        </div>
        <div class="form-group">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" #remember (ngModel)="remember"> Remember me
            </label>
          </div>
        </div>
        <button class="btn btn-lg btn-success btn-block signin-db" type="submit" (click)="login(email.value, password.value)">Sign in</button>
        <p>Not a member yet? Please
          <a routerLink="/register">register</a>.</p>
      </form>
    </div>
  </div>
</div>
