.sign-in-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}