@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.sign-in-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    background-color: #ffffff;
}

.form-signin input {
    width: 100%;
    line-height: 2rem;
    border-radius: 100px;
    margin: 0.2rem 0.5rem;
}

.fa {
    margin-right: 5px;
    font-size: 1rem;
}