<div class="text-center">

  <form class="form-signin">
    <img class="mb-4" src="assets/logo/FF_150_centered.png" alt="" width="72" height="72">

    <div>
      <button class="btn btn-primary signin-google" (click)="loginWithGoogle()">Sign in with Google</button>
      <button class="btn btn-primary signin-github" (click)="loginWithGithub()">Sign in with Github</button>
    </div>

    <h3 class="h3 mb-3 font-weight-normal sign-in-title">Please sign in</h3>
    <div>
      <label class="">Email address
        <input type="email" class="form-control" placeholder="your@email.com" #email (ngModel)="email" required autofocus>
      </label>
      <label for="password" class="">Password
        <input type="password" class="form-control" placeholder="Password" #password (ngModel)="password" required>
      </label>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" #remember (ngModel)="remember"> Remember me
        </label>
      </div>
    </div>
    <button class="btn btn-lg btn-success btn-block signin-db" type="submit" (click)="login()">Sign in</button>
    <p>Not a member yet? Please <a routerLink="/register">register</a>.</p>
  </form>
</div>