@import './_variables';
@import "~bootstrap/scss/bootstrap";
@import "./_bootswatch";
@import "~bootswatch/dist/sandstone/bootstrap.min.css";

@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

@import './mixins';
@import 
  'functions',
  'variables',
  'mixins',
  'print',
  'reboot',
  'type';

  :root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }

  body, html {
    height: 100%;
  }

  body {
    background-color: $white;
    color: #232323;
    font-style: normal;
    line-height: 1.5;  
    font-size: 1rem;
  }
  
  section,
  .container,
  .container-fluid {
    position: relative;
    word-wrap: break-word;
  }

  section.cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #eeeeee;
    height: 100vh;
  }

  a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }

  a,
a:hover {
  text-decoration: none;
}

figure {
    margin-bottom: 0;
  }
  
  .align-center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}

.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}

.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}

.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.fullscreen {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;  
  }

  /*! Media  */

.media-size-item {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}

.media-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.media-container-row .media-size-item {
  width: 400px;
}

.media-container-column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.media-container-column>* {
  width: 100%;
}

@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

figure {
  overflow: hidden;
}

figure[mbr-media-size] {
  transition: width 0.1s;
}

.mbr-figure img,
.mbr-figure iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.media-container>div {
  max-width: 100%;
}

.mbr-figure img,
.card-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }
  .media {
    width: auto;
  }
  .mbr-figure {
    width: 100% !important;
  }
}

/*! Buttons */

.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 0;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

.btn-secondary, .btn-secondary:active {
  background-color: $pink;
  border-color: $pink;
  color: #ffffff;
}

.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
/*
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
*/

.mbr-light {
  font-weight: 300;
}

.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}

.mbr-section-subtitle {
  color: $primary;
  line-height: 1.3;
}

.btn-primary, .btn-primary:active {
  background-color: $cyan;
  border-color: $cyan;
  color: $white;
}