<div class="container">
  <div class="media-container-row">
    <div class="title col-12 col-md-8">
      <h2 class="align-center pb-3 mbr-fonts-style display-2">
        Use Machine Artificial Intelligence to Make You Smarter</h2>
      <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
        <p>By supplying 3 URLs of example articles, the system will figure out the specific topic you're interested in.
        </p>
        <p> Using Machine Learning and Natural Language Processing algorithms, it will find for you freshly published related
          articles and papers.
        </p>
        <p>Once a month, you will recieve a newsletter containing a list of selected articles and their summary.
        </p>
        <p>Your part is then to read, learn and
          <i>keep current</i>.
        </p>
      </h3>
      <div class="mbr-section-btn align-center py-4">
        <a class="btn btn-primary display-4" href="#content5-j">Who is behind this</a>
      </div>
    </div>
  </div>
</div>
