section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mbr-section-subtitle {
    color: #767676;
    line-height: 1.3;
}

.btn-primary, .btn-primary:active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
}