section {
    background-color: #ffffff;
}

.mbr-section-subtitle {
    color: #767676;
    line-height: 1.3;
}

.btn-primary, .btn-primary:active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
}