@import '~sass/variables';

.bg-primary {
    opacity: .8;
    z-index: 1;
    width: 100%;
}

.form-inline .btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

nav.navbar {
  min-height: 100px;
}

.navbar-brand {
  margin-right: 2rem;
}

.nav-separator {
  background-color: $black;
  height: 2px;
  width: 100%;
}

main.cover {
  padding-top: 2rem;
}

.home-fullscreen {
  background-image: url("/assets/images/coffee-tablet-headphones-work-163187-2000x1492.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  width: 100%;
}

.home-fullscreen .section-overlay {
    background-color: rgb(35, 35, 35);
    bottom: 0;
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    min-height: 100vh;
  }
