<form #topicForm="ngForm" class="form-add-topic">
  <h3 class="h3 mb-3 font-weight-normal">I want to keep current with</h3>
  
  <div class="form-label-group">
    <input type="text" class="form-control" [(ngModel)]="topicName" id="topicName" name="topicName" placeholder="Topic name" required autofocus/>
    <label for="topicName">Topic name</label>
  </div>

  <div class="form-label-group">
    <input type="text" class="form-control" [(ngModel)]="exampleURL1" id="exampleURL1" name="exampleURL1" placeholder="Example document URL #1" required/>
    <label for="exampleURL1">Example document URL #1</label>
  </div>

  <div class="form-label-group">
    <input type="text" class="form-control" [(ngModel)]="exampleURL2" id="exampleURL2" name="exampleURL2" placeholder="Example document URL #2" required/>
    <label for="exampleURL2">Example document URL #2</label>
   </div>

  <div class="form-label-group">
    <input type="text" class="form-control"  [(ngModel)]="exampleURL3" id="exampleURL3" name="exampleURL3" placeholder="Example document URL #3" required/>
    <label for="exampleURL3">Example document URL #3</label>
  </div>

  <button type="submit" class="btn btn-success" (click)="save()">Save</button>
  <a class="btn btn-primary" (click)="cancel()">Cancel</a>
</form>
